openapi: 3.1.0
info:
  title: InComedy Server API
  version: "1.0.0"
  description: |
    Current backend API contract for auth, identity foundation, organizer workspace foundation,
    and service health endpoints.
servers:
  - url: https://incomedy.ru
    description: Production
  - url: http://localhost:8080
    description: Local development
tags:
  - name: Health
  - name: Diagnostics
  - name: Auth
  - name: Identity
  - name: Organizer
paths:
  /health:
    get:
      tags: [Health]
      summary: Service health probe
      operationId: getHealth
      responses:
        "200":
          description: Health status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
  /api/v1/diagnostics/events:
    get:
      tags: [Diagnostics]
      summary: Retrieve recent sanitized backend diagnostic events
      description: |
        Operator-only endpoint for correlating device/server failures by request id without exposing raw server logs.
        The endpoint is enabled only when diagnostics access token is configured on the server.
      operationId: getDiagnosticsEvents
      parameters:
        - in: header
          name: X-Diagnostics-Token
          required: true
          description: Operator-only diagnostics access token.
          schema:
            type: string
        - in: query
          name: request_id
          required: false
          description: Exact request correlation id (`X-Request-ID`) filter.
          schema:
            type: string
            format: uuid
        - in: query
          name: route_prefix
          required: false
          description: Prefix filter for HTTP path.
          schema:
            type: string
        - in: query
          name: stage
          required: false
          description: Exact diagnostics stage filter.
          schema:
            type: string
        - in: query
          name: status
          required: false
          description: Exact HTTP status filter.
          schema:
            type: integer
        - in: query
          name: from
          required: false
          description: Inclusive ISO-8601 lower time bound.
          schema:
            type: string
            format: date-time
        - in: query
          name: to
          required: false
          description: Inclusive ISO-8601 upper time bound.
          schema:
            type: string
            format: date-time
        - in: query
          name: limit
          required: false
          description: Maximum number of newest-first events to return.
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: Diagnostics events returned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiagnosticsEventsResponse"
        "400":
          description: Invalid diagnostics query filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid diagnostics token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /auth/telegram/callback:
    get:
      tags: [Auth]
      summary: Telegram web callback bridge page
      description: |
        Returns HTML page that redirects from web callback to deep link
        `incomedy://auth/telegram?...` for mobile app continuation.
      operationId: getTelegramCallbackBridge
      responses:
        "200":
          description: HTML bridge page
          content:
            text/html:
              schema:
                type: string
  /api/v1/auth/telegram/verify:
    post:
      tags: [Auth]
      summary: Verify Telegram login payload and issue app session
      operationId: postTelegramVerify
      parameters:
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TelegramVerifyRequest"
      responses:
        "200":
          description: Telegram verification succeeded
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TelegramAuthResponse"
        "400":
          description: Invalid payload or bad request
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Verification failed (expired/invalid/replayed Telegram assertion)
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body exceeds route size limit
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server failure
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/session/me:
    get:
      tags: [Auth]
      summary: Validate access token and return current session user
      operationId: getSessionMe
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
            example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Access token is valid and user exists
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionMeResponse"
        "401":
          description: Missing/invalid token or unknown user
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server failure
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/logout:
    post:
      tags: [Auth]
      summary: Revoke current user session tokens up to now
      operationId: postAuthLogout
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
            example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Session revoked successfully
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
        "401":
          description: Missing/invalid token
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server failure
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/me/roles:
    get:
      tags: [Identity]
      summary: Return assigned roles, active role, and linked auth providers for the current user
      operationId: getMyRoles
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Role state returned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeRolesResponse"
        "401":
          description: Missing/invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Current user not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/me/active-role:
    post:
      tags: [Identity]
      summary: Update the current active role context for the authenticated user
      operationId: postMyActiveRole
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetActiveRoleRequest"
      responses:
        "200":
          description: Active role updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeRolesResponse"
        "400":
          description: Invalid request or unknown role
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing/invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Requested role is not assigned to the user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body exceeds route size limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/workspaces:
    get:
      tags: [Organizer]
      summary: List organizer workspaces available to the authenticated user
      operationId: getWorkspaces
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Workspace list returned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceListResponse"
        "401":
          description: Missing/invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      tags: [Organizer]
      summary: Create an organizer workspace and assign the caller as owner
      operationId: postWorkspaces
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWorkspaceRequest"
      responses:
        "201":
          description: Workspace created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceResponse"
        "400":
          description: Invalid workspace payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing/invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body exceeds route size limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/refresh:
    post:
      tags: [Auth]
      summary: Rotate refresh token and issue new session tokens
      operationId: postAuthRefresh
      parameters:
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: Tokens refreshed successfully
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshResponse"
        "400":
          description: Invalid payload or invalid refresh token format
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body exceeds route size limit
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing/invalid refresh token or session revoked
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server failure
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  schemas:
    HealthResponse:
      type: object
      additionalProperties: false
      required: [status]
      properties:
        status:
          type: string
          example: ok
    DiagnosticsEventsResponse:
      type: object
      additionalProperties: false
      required:
        - events
      properties:
        events:
          type: array
          items:
            $ref: "#/components/schemas/DiagnosticsEventResponse"
    DiagnosticsEventResponse:
      type: object
      additionalProperties: false
      required:
        - id
        - recordedAt
        - requestId
        - method
        - route
        - stage
        - status
        - metadata
      properties:
        id:
          type: integer
          format: int64
        recordedAt:
          type: string
          format: date-time
        requestId:
          type: string
          example: 123e4567-e89b-12d3-a456-426614174000
        method:
          type: string
          example: POST
        route:
          type: string
          example: /api/v1/auth/telegram/verify
        stage:
          type: string
          example: auth.telegram.verify.failed
        status:
          type: integer
          example: 401
        safeErrorCode:
          type: string
          nullable: true
          example: telegram_auth_hash_invalid
        metadata:
          type: object
          additionalProperties:
            type: string
    TelegramVerifyRequest:
      type: object
      additionalProperties: false
      required:
        - id
        - first_name
        - auth_date
        - hash
      properties:
        id:
          type: integer
          format: int64
          example: 123456789
        first_name:
          type: string
          minLength: 1
          example: John
        last_name:
          type: string
          nullable: true
          example: Doe
        username:
          type: string
          nullable: true
          example: johndoe
        photo_url:
          type: string
          nullable: true
          example: https://t.me/i/userpic/320/johndoe.jpg
        auth_date:
          type: integer
          format: int64
          example: 1700000000
        hash:
          type: string
          minLength: 64
          maxLength: 64
          example: 84e3cf9be4e4a0087d2ce0f3f9385cbf1f4ce3bd5c32f5e6a00c88cba8f66ef6
    TelegramAuthResponse:
      type: object
      additionalProperties: false
      required:
        - access_token
        - refresh_token
        - expires_in
        - user
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
          minLength: 43
          maxLength: 43
        expires_in:
          type: integer
          format: int64
          example: 3600
        user:
          $ref: "#/components/schemas/TelegramAuthUser"
    TelegramAuthUser:
      type: object
      additionalProperties: false
      required:
        - id
        - display_name
      properties:
        id:
          type: string
          format: uuid
        display_name:
          type: string
          example: John Doe
        username:
          type: string
          nullable: true
        photo_url:
          type: string
          nullable: true
    SessionMeResponse:
      type: object
      additionalProperties: false
      required:
        - user
      properties:
        user:
          $ref: "#/components/schemas/SessionUser"
    RefreshRequest:
      type: object
      additionalProperties: false
      required:
        - refresh_token
      properties:
        refresh_token:
          type: string
    RefreshResponse:
      type: object
      additionalProperties: false
      required:
        - access_token
        - refresh_token
        - expires_in
        - user
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        expires_in:
          type: integer
          format: int64
          example: 3600
        user:
          $ref: "#/components/schemas/SessionUser"
    SessionUser:
      type: object
      additionalProperties: false
      required:
        - id
        - display_name
        - roles
        - linked_providers
      properties:
        id:
          type: string
          format: uuid
        display_name:
          type: string
          example: John Doe
        username:
          type: string
          nullable: true
        photo_url:
          type: string
          nullable: true
        roles:
          type: array
          items:
            type: string
            enum: [audience, comedian, organizer]
        active_role:
          type: string
          nullable: true
          enum: [audience, comedian, organizer]
        linked_providers:
          type: array
          items:
            type: string
            enum: [telegram, vk, google, apple]
    MeRolesResponse:
      type: object
      additionalProperties: false
      required:
        - roles
        - linked_providers
      properties:
        roles:
          type: array
          items:
            type: string
            enum: [audience, comedian, organizer]
        active_role:
          type: string
          nullable: true
          enum: [audience, comedian, organizer]
        linked_providers:
          type: array
          items:
            type: string
            enum: [telegram, vk, google, apple]
    SetActiveRoleRequest:
      type: object
      additionalProperties: false
      required:
        - role
      properties:
        role:
          type: string
          enum: [audience, comedian, organizer]
    CreateWorkspaceRequest:
      type: object
      additionalProperties: false
      required:
        - name
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 80
        slug:
          type: string
          nullable: true
    WorkspaceListResponse:
      type: object
      additionalProperties: false
      required:
        - workspaces
      properties:
        workspaces:
          type: array
          items:
            $ref: "#/components/schemas/WorkspaceResponse"
    WorkspaceResponse:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - slug
        - status
        - permission_role
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        status:
          type: string
          example: active
        permission_role:
          type: string
          enum: [owner, manager, checker, host]
    ErrorResponse:
      type: object
      additionalProperties: false
      required:
        - code
        - message
      properties:
        code:
          type: string
          example: telegram_auth_failed
        message:
          type: string
          example: Telegram auth failed
