openapi: 3.1.0
info:
  title: InComedy Server API
  version: "1.0.0"
  description: |
    Current backend API contract for auth, identity foundation, organizer workspace, venue, and event
    foundations, and service health endpoints.
servers:
  - url: https://incomedy.ru
    description: Production
  - url: http://localhost:8080
    description: Local development
tags:
  - name: Health
  - name: Diagnostics
  - name: Auth
  - name: Identity
  - name: Organizer
  - name: Venues
  - name: Events
paths:
  /health:
    get:
      tags: [Health]
      summary: Service health probe
      operationId: getHealth
      responses:
        "200":
          description: Health status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
  /api/v1/diagnostics/events:
    get:
      tags: [Diagnostics]
      summary: Retrieve recent sanitized backend diagnostic events
      description: |
        Operator-only endpoint for correlating device/server failures by request id without exposing raw server logs.
        The endpoint is enabled only when diagnostics access token is configured on the server.
      operationId: getDiagnosticsEvents
      parameters:
        - in: header
          name: X-Diagnostics-Token
          required: true
          description: Operator-only diagnostics access token.
          schema:
            type: string
        - in: query
          name: request_id
          required: false
          description: Exact request correlation id (`X-Request-ID`) filter.
          schema:
            type: string
            format: uuid
        - in: query
          name: route_prefix
          required: false
          description: Prefix filter for HTTP path.
          schema:
            type: string
        - in: query
          name: stage
          required: false
          description: Exact diagnostics stage filter.
          schema:
            type: string
        - in: query
          name: status
          required: false
          description: Exact HTTP status filter.
          schema:
            type: integer
        - in: query
          name: from
          required: false
          description: Inclusive ISO-8601 lower time bound.
          schema:
            type: string
            format: date-time
        - in: query
          name: to
          required: false
          description: Inclusive ISO-8601 upper time bound.
          schema:
            type: string
            format: date-time
        - in: query
          name: limit
          required: false
          description: Maximum number of newest-first events to return.
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: Diagnostics events returned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiagnosticsEventsResponse"
        "400":
          description: Invalid diagnostics query filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid diagnostics token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/register:
    post:
      tags: [Auth]
      summary: Register a first-party credential account and issue a session
      operationId: postAuthRegister
      parameters:
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CredentialAuthRequest"
      responses:
        "200":
          description: Account registered and session issued successfully
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSessionResponse"
        "400":
          description: Invalid login/password payload
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Login is already registered
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body exceeds route size limit
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/login:
    post:
      tags: [Auth]
      summary: Sign in with login and password and issue a session
      operationId: postAuthLogin
      parameters:
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CredentialAuthRequest"
      responses:
        "200":
          description: Session issued successfully
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSessionResponse"
        "400":
          description: Invalid login/password payload
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Invalid login or password
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body exceeds route size limit
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/vk/start:
    get:
      tags: [Auth]
      summary: Issue VK ID browser launch metadata plus optional Android SDK auth-code metadata
      operationId: getAuthVkStart
      parameters:
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: VK ID launch metadata returned successfully
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VkIdStartResponse"
        "429":
          description: Too many requests
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: VK auth is not configured in the current runtime
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/vk/verify:
    post:
      tags: [Auth]
      summary: Verify VK ID browser or Android SDK callback data and issue an internal session
      operationId: postAuthVkVerify
      parameters:
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VkIdVerifyPayload"
      responses:
        "200":
          description: VK auth completed successfully
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSessionResponse"
        "400":
          description: Invalid payload or invalid signed auth state
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: VK code exchange or VK user info retrieval failed
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body exceeds route size limit
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: VK auth is not configured in the current runtime
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/session/me:
    get:
      tags: [Auth]
      summary: Validate access token and return current session user
      operationId: getSessionMe
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
            example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Access token is valid and user exists
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionMeResponse"
        "401":
          description: Missing/invalid token or unknown user
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server failure
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/logout:
    post:
      tags: [Auth]
      summary: Revoke current user session tokens up to now
      operationId: postAuthLogout
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
            example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Session revoked successfully
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
        "401":
          description: Missing/invalid token
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server failure
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/me/roles:
    get:
      tags: [Identity]
      summary: Return assigned roles, active role, and linked auth providers for the current user
      operationId: getMyRoles
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Role state returned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeRolesResponse"
        "401":
          description: Missing/invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Current user not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/me/active-role:
    post:
      tags: [Identity]
      summary: Update the current active role context for the authenticated user
      operationId: postMyActiveRole
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetActiveRoleRequest"
      responses:
        "200":
          description: Active role updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeRolesResponse"
        "400":
          description: Invalid request or unknown role
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing/invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Requested role is not assigned to the user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body exceeds route size limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/workspaces:
    get:
      tags: [Organizer]
      summary: List organizer workspaces available to the authenticated user
      operationId: getWorkspaces
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Workspace list returned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceListResponse"
        "401":
          description: Missing/invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      tags: [Organizer]
      summary: Create an organizer workspace and assign the caller as owner
      operationId: postWorkspaces
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWorkspaceRequest"
      responses:
        "201":
          description: Workspace created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceResponse"
        "400":
          description: Invalid workspace payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing/invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body exceeds route size limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/workspace-invitations:
    get:
      tags: [Organizer]
      summary: List pending organizer workspace invitations for the authenticated user
      operationId: getWorkspaceInvitations
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Pending invitation inbox returned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceInvitationListResponse"
        "401":
          description: Missing/invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/workspaces/{workspaceId}/invitations:
    post:
      tags: [Organizer]
      summary: Invite an already registered user into an organizer workspace
      operationId: postWorkspaceInvitation
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
        - in: path
          name: workspaceId
          required: true
          description: Organizer workspace UUID.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWorkspaceInvitationRequest"
      responses:
        "201":
          description: Invitation created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceMembershipResponse"
        "400":
          description: Invalid workspace id or invitation payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing/invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Current workspace role cannot create the requested invitation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Workspace or invitee not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Active membership or pending invitation already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body exceeds route size limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/workspaces/{workspaceId}/memberships/{membershipId}:
    patch:
      tags: [Organizer]
      summary: Update a workspace membership permission role within the bounded role matrix
      operationId: patchWorkspaceMembership
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
        - in: path
          name: workspaceId
          required: true
          description: Organizer workspace UUID.
          schema:
            type: string
            format: uuid
        - in: path
          name: membershipId
          required: true
          description: Workspace membership UUID.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWorkspaceMembershipRoleRequest"
      responses:
        "200":
          description: Membership role updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceMembershipResponse"
        "400":
          description: Invalid path or membership update payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing/invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Current workspace role cannot change the requested membership
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Workspace or membership not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body exceeds route size limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/workspace-invitations/{membershipId}/respond:
    post:
      tags: [Organizer]
      summary: Accept or decline a pending organizer workspace invitation
      operationId: postWorkspaceInvitationRespond
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
        - in: path
          name: membershipId
          required: true
          description: Pending invitation membership UUID.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RespondWorkspaceInvitationRequest"
      responses:
        "200":
          description: Invitation decision stored successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceInvitationDecisionResponse"
        "400":
          description: Invalid invitation decision payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing/invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Invitation not found for the current user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body exceeds route size limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/venues:
    get:
      tags: [Venues]
      summary: List organizer venues available to the authenticated user
      operationId: getVenues
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Venue list returned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VenueListResponse"
        "401":
          description: Missing/invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      tags: [Venues]
      summary: Create an organizer venue inside a managed workspace
      operationId: postVenues
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVenueRequest"
      responses:
        "201":
          description: Venue created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VenueResponse"
        "400":
          description: Invalid venue payload or timezone
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing/invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Current user cannot manage venues in the requested workspace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Workspace not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body exceeds route size limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/events:
    get:
      tags: [Events]
      summary: List organizer events available to the authenticated user
      operationId: getEvents
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Event list returned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventListResponse"
        "401":
          description: Missing/invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      tags: [Events]
      summary: Create an organizer event draft with a frozen hall snapshot
      operationId: postEvents
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEventRequest"
      responses:
        "201":
          description: Event created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizerEventResponse"
        "400":
          description: Invalid event payload, chronology, or venue/template binding
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing/invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Current user cannot manage events in the requested workspace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Workspace, venue, or hall template not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body exceeds route size limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/events/{eventId}:
    get:
      tags: [Events]
      summary: Get organizer event details with frozen snapshot and event-local overrides
      operationId: getEventById
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
        - in: path
          name: eventId
          required: true
          description: Organizer event UUID.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Event details returned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizerEventResponse"
        "400":
          description: Invalid event id
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing/invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Current user cannot manage the requested event
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Event or workspace scope not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      tags: [Events]
      summary: Replace organizer event details and event-local overrides
      operationId: patchEventById
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
        - in: path
          name: eventId
          required: true
          description: Organizer event UUID.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEventRequest"
      responses:
        "200":
          description: Event details updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizerEventResponse"
        "400":
          description: Invalid event id, payload, chronology, or override references
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing/invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Current user cannot manage the requested event
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Event or workspace scope not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body exceeds route size limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/venues/{venueId}/hall-templates:
    post:
      tags: [Venues]
      summary: Create a reusable hall template inside an organizer venue
      operationId: postVenueHallTemplates
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
        - in: path
          name: venueId
          required: true
          description: Organizer venue UUID.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HallTemplateMutationRequest"
      responses:
        "201":
          description: Hall template created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HallTemplateResponse"
        "400":
          description: Invalid venue id or hall template payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing/invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Current user cannot manage hall templates for the requested venue
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Venue not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body exceeds route size limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/hall-templates/{templateId}:
    patch:
      tags: [Venues]
      summary: Update a reusable hall template
      operationId: patchHallTemplate
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
        - in: path
          name: templateId
          required: true
          description: Hall template UUID.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HallTemplateMutationRequest"
      responses:
        "200":
          description: Hall template updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HallTemplateResponse"
        "400":
          description: Invalid template id or hall template payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing/invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Current user cannot manage the requested hall template
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Hall template or owning venue not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body exceeds route size limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/hall-templates/{templateId}/clone:
    post:
      tags: [Venues]
      summary: Clone an existing hall template into a new draft template
      operationId: postHallTemplateClone
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
        - in: path
          name: templateId
          required: true
          description: Source hall template UUID.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CloneHallTemplateRequest"
      responses:
        "201":
          description: Hall template cloned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HallTemplateResponse"
        "400":
          description: Invalid template id or clone payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing/invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Current user cannot clone the requested hall template
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Hall template or owning venue not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body exceeds route size limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/events/{eventId}/publish:
    post:
      tags: [Events]
      summary: Publish an existing organizer event draft
      operationId: postEventPublish
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Bearer access token.
          schema:
            type: string
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
        - in: path
          name: eventId
          required: true
          description: Organizer event UUID.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Event published successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizerEventResponse"
        "400":
          description: Invalid event id or event cannot be published
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing/invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Current user cannot publish this event
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Event or workspace scope not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/refresh:
    post:
      tags: [Auth]
      summary: Rotate refresh token and issue new session tokens
      operationId: postAuthRefresh
      parameters:
        - in: header
          name: X-Request-ID
          required: false
          description: Optional client-provided UUID request id for tracing.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: Tokens refreshed successfully
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshResponse"
        "400":
          description: Invalid payload or invalid refresh token format
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body exceeds route size limit
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing/invalid refresh token or session revoked
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server failure
          headers:
            X-Request-ID:
              description: Server trace identifier
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  schemas:
    HealthResponse:
      type: object
      additionalProperties: false
      required: [status]
      properties:
        status:
          type: string
          example: ok
    DiagnosticsEventsResponse:
      type: object
      additionalProperties: false
      required:
        - events
      properties:
        events:
          type: array
          items:
            $ref: "#/components/schemas/DiagnosticsEventResponse"
    DiagnosticsEventResponse:
      type: object
      additionalProperties: false
      required:
        - id
        - recordedAt
        - requestId
        - method
        - route
        - stage
        - status
        - metadata
      properties:
        id:
          type: integer
          format: int64
        recordedAt:
          type: string
          format: date-time
        requestId:
          type: string
          example: 123e4567-e89b-12d3-a456-426614174000
        method:
          type: string
          example: POST
        route:
          type: string
          example: /api/v1/auth/refresh
        stage:
          type: string
          example: auth.refresh.failed
        status:
          type: integer
          example: 401
        safeErrorCode:
          type: string
          nullable: true
          example: refresh_token_invalid
        metadata:
          type: object
          additionalProperties:
            type: string
    SessionMeResponse:
      type: object
      additionalProperties: false
      required:
        - provider
        - user
      properties:
        provider:
          type: string
          enum: [password, phone, vk, telegram, google, apple]
        user:
          $ref: "#/components/schemas/SessionUser"
    CredentialAuthRequest:
      type: object
      additionalProperties: false
      required:
        - login
        - password
      properties:
        login:
          type: string
          minLength: 3
          maxLength: 32
        password:
          type: string
          minLength: 8
          maxLength: 128
    VkIdStartResponse:
      type: object
      additionalProperties: false
      required:
        - auth_url
        - state
      properties:
        auth_url:
          type: string
          format: uri
        state:
          type: string
        sdk_client_id:
          type: string
          nullable: true
        sdk_code_challenge:
          type: string
          nullable: true
        sdk_scopes:
          type: array
          items:
            type: string
    VkIdVerifyPayload:
      type: object
      additionalProperties: false
      required:
        - code
        - state
        - device_id
      properties:
        code:
          type: string
        state:
          type: string
        device_id:
          type: string
        client_source:
          type: string
          nullable: true
          enum: [browser_bridge, android_sdk]
    AuthSessionResponse:
      type: object
      additionalProperties: false
      required:
        - provider
        - access_token
        - refresh_token
        - expires_in
        - user
      properties:
        provider:
          type: string
          enum: [password, phone, vk, telegram, google, apple]
        access_token:
          type: string
        refresh_token:
          type: string
        expires_in:
          type: integer
          format: int64
          example: 3600
        user:
          $ref: "#/components/schemas/SessionUser"
    RefreshRequest:
      type: object
      additionalProperties: false
      required:
        - refresh_token
      properties:
        refresh_token:
          type: string
    RefreshResponse:
      type: object
      additionalProperties: false
      required:
        - provider
        - access_token
        - refresh_token
        - expires_in
        - user
      properties:
        provider:
          type: string
          enum: [password, phone, vk, telegram, google, apple]
        access_token:
          type: string
        refresh_token:
          type: string
        expires_in:
          type: integer
          format: int64
          example: 3600
        user:
          $ref: "#/components/schemas/SessionUser"
    SessionUser:
      type: object
      additionalProperties: false
      required:
        - id
        - display_name
        - roles
        - linked_providers
      properties:
        id:
          type: string
          format: uuid
        display_name:
          type: string
          example: John Doe
        username:
          type: string
          nullable: true
        photo_url:
          type: string
          nullable: true
        roles:
          type: array
          items:
            type: string
            enum: [audience, comedian, organizer]
        active_role:
          type: string
          nullable: true
          enum: [audience, comedian, organizer]
        linked_providers:
          type: array
          items:
            type: string
            enum: [password, phone, vk, telegram, google, apple]
    MeRolesResponse:
      type: object
      additionalProperties: false
      required:
        - roles
        - linked_providers
      properties:
        roles:
          type: array
          items:
            type: string
            enum: [audience, comedian, organizer]
        active_role:
          type: string
          nullable: true
          enum: [audience, comedian, organizer]
        linked_providers:
          type: array
          items:
            type: string
            enum: [password, phone, vk, telegram, google, apple]
    SetActiveRoleRequest:
      type: object
      additionalProperties: false
      required:
        - role
      properties:
        role:
          type: string
          enum: [audience, comedian, organizer]
    CreateWorkspaceRequest:
      type: object
      additionalProperties: false
      required:
        - name
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 80
        slug:
          type: string
          nullable: true
    WorkspaceListResponse:
      type: object
      additionalProperties: false
      required:
        - workspaces
      properties:
        workspaces:
          type: array
          items:
            $ref: "#/components/schemas/WorkspaceResponse"
    WorkspaceResponse:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - slug
        - status
        - permission_role
        - can_manage_members
        - assignable_permission_roles
        - memberships
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        status:
          type: string
          example: active
        permission_role:
          type: string
          enum: [owner, manager, checker, host]
        can_manage_members:
          type: boolean
        assignable_permission_roles:
          type: array
          items:
            type: string
            enum: [owner, manager, checker, host]
        memberships:
          type: array
          items:
            $ref: "#/components/schemas/WorkspaceMembershipResponse"
    WorkspaceMembershipResponse:
      type: object
      additionalProperties: false
      required:
        - membership_id
        - user_id
        - display_name
        - permission_role
        - status
        - is_current_user
        - can_edit_role
        - assignable_permission_roles
      properties:
        membership_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        display_name:
          type: string
        username:
          type: string
          nullable: true
        permission_role:
          type: string
          enum: [owner, manager, checker, host]
        status:
          type: string
          enum: [active, invited]
        invited_by_display_name:
          type: string
          nullable: true
        is_current_user:
          type: boolean
        can_edit_role:
          type: boolean
        assignable_permission_roles:
          type: array
          items:
            type: string
            enum: [owner, manager, checker, host]
    WorkspaceInvitationListResponse:
      type: object
      additionalProperties: false
      required:
        - invitations
      properties:
        invitations:
          type: array
          items:
            $ref: "#/components/schemas/WorkspaceInvitationResponse"
    WorkspaceInvitationResponse:
      type: object
      additionalProperties: false
      required:
        - membership_id
        - workspace_id
        - workspace_name
        - workspace_slug
        - workspace_status
        - permission_role
      properties:
        membership_id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        workspace_name:
          type: string
        workspace_slug:
          type: string
        workspace_status:
          type: string
          example: active
        permission_role:
          type: string
          enum: [owner, manager, checker, host]
        invited_by_display_name:
          type: string
          nullable: true
    CreateWorkspaceInvitationRequest:
      type: object
      additionalProperties: false
      required:
        - invitee_identifier
        - permission_role
      properties:
        invitee_identifier:
          type: string
          minLength: 3
          maxLength: 80
          description: Exact credential login or username of an already registered user.
        permission_role:
          type: string
          enum: [owner, manager, checker, host]
    UpdateWorkspaceMembershipRoleRequest:
      type: object
      additionalProperties: false
      required:
        - permission_role
      properties:
        permission_role:
          type: string
          enum: [owner, manager, checker, host]
    RespondWorkspaceInvitationRequest:
      type: object
      additionalProperties: false
      required:
        - decision
      properties:
        decision:
          type: string
          enum: [accept, decline]
    WorkspaceInvitationDecisionResponse:
      type: object
      additionalProperties: false
      required:
        - status
      properties:
        status:
          type: string
          enum: [accept, decline]
    EventListResponse:
      type: object
      additionalProperties: false
      required:
        - events
      properties:
        events:
          type: array
          items:
            $ref: "#/components/schemas/OrganizerEventResponse"
    CreateEventRequest:
      type: object
      additionalProperties: false
      required:
        - workspace_id
        - venue_id
        - hall_template_id
        - title
        - starts_at
        - currency
        - visibility
      properties:
        workspace_id:
          type: string
          format: uuid
        venue_id:
          type: string
          format: uuid
        hall_template_id:
          type: string
          format: uuid
        title:
          type: string
          minLength: 3
          maxLength: 120
        description:
          type: string
          nullable: true
          maxLength: 2000
        starts_at:
          type: string
          format: date-time
        doors_open_at:
          type: string
          format: date-time
          nullable: true
        ends_at:
          type: string
          format: date-time
          nullable: true
        currency:
          type: string
          pattern: "^[A-Z]{3}$"
          example: RUB
        visibility:
          type: string
          enum: [public, private]
    UpdateEventRequest:
      type: object
      additionalProperties: false
      required:
        - title
        - starts_at
        - currency
        - visibility
      properties:
        title:
          type: string
          minLength: 3
          maxLength: 120
        description:
          type: string
          nullable: true
          maxLength: 2000
        starts_at:
          type: string
          format: date-time
        doors_open_at:
          type: string
          format: date-time
          nullable: true
        ends_at:
          type: string
          format: date-time
          nullable: true
        currency:
          type: string
          pattern: "^[A-Z]{3}$"
          example: RUB
        visibility:
          type: string
          enum: [public, private]
        price_zones:
          type: array
          items:
            $ref: "#/components/schemas/EventPriceZoneRequest"
        pricing_assignments:
          type: array
          items:
            $ref: "#/components/schemas/EventPricingAssignmentRequest"
        availability_overrides:
          type: array
          items:
            $ref: "#/components/schemas/EventAvailabilityOverrideRequest"
    EventPriceZoneRequest:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - price_minor
        - currency
      properties:
        id:
          type: string
          minLength: 1
          maxLength: 64
        name:
          type: string
          minLength: 2
          maxLength: 80
        price_minor:
          type: integer
          minimum: 0
        currency:
          type: string
          pattern: "^[A-Z]{3}$"
        sales_start_at:
          type: string
          format: date-time
          nullable: true
        sales_end_at:
          type: string
          format: date-time
          nullable: true
        source_template_price_zone_id:
          type: string
          nullable: true
          maxLength: 64
    EventPricingAssignmentRequest:
      type: object
      additionalProperties: false
      required:
        - target_type
        - target_ref
        - event_price_zone_id
      properties:
        target_type:
          type: string
          enum: [seat, row, zone, table]
        target_ref:
          type: string
          minLength: 1
          maxLength: 64
        event_price_zone_id:
          type: string
          minLength: 1
          maxLength: 64
    EventAvailabilityOverrideRequest:
      type: object
      additionalProperties: false
      required:
        - target_type
        - target_ref
        - availability_status
      properties:
        target_type:
          type: string
          enum: [seat, row, zone, table]
        target_ref:
          type: string
          minLength: 1
          maxLength: 64
        availability_status:
          type: string
          enum: [available, blocked]
    OrganizerEventResponse:
      type: object
      additionalProperties: false
      required:
        - id
        - workspace_id
        - venue_id
        - venue_name
        - hall_snapshot_id
        - source_template_id
        - source_template_name
        - title
        - starts_at
        - status
        - sales_status
        - currency
        - visibility
        - hall_snapshot
        - price_zones
        - pricing_assignments
        - availability_overrides
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        venue_id:
          type: string
          format: uuid
        venue_name:
          type: string
        hall_snapshot_id:
          type: string
          format: uuid
        source_template_id:
          type: string
          format: uuid
        source_template_name:
          type: string
        title:
          type: string
        description:
          type: string
          nullable: true
        starts_at:
          type: string
          format: date-time
        doors_open_at:
          type: string
          format: date-time
          nullable: true
        ends_at:
          type: string
          format: date-time
          nullable: true
        status:
          type: string
          enum: [draft, published, canceled]
        sales_status:
          type: string
          enum: [closed, open, paused, sold_out]
        currency:
          type: string
          pattern: "^[A-Z]{3}$"
        visibility:
          type: string
          enum: [public, private]
        hall_snapshot:
          $ref: "#/components/schemas/EventHallSnapshotResponse"
        price_zones:
          type: array
          items:
            $ref: "#/components/schemas/EventPriceZoneResponse"
        pricing_assignments:
          type: array
          items:
            $ref: "#/components/schemas/EventPricingAssignmentResponse"
        availability_overrides:
          type: array
          items:
            $ref: "#/components/schemas/EventAvailabilityOverrideResponse"
    EventHallSnapshotResponse:
      type: object
      additionalProperties: false
      required:
        - id
        - event_id
        - source_template_id
        - source_template_name
        - layout
      properties:
        id:
          type: string
          format: uuid
        event_id:
          type: string
          format: uuid
        source_template_id:
          type: string
          format: uuid
        source_template_name:
          type: string
        layout:
          $ref: "#/components/schemas/HallLayoutResponse"
    EventPriceZoneResponse:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - price_minor
        - currency
      properties:
        id:
          type: string
        name:
          type: string
        price_minor:
          type: integer
        currency:
          type: string
        sales_start_at:
          type: string
          format: date-time
          nullable: true
        sales_end_at:
          type: string
          format: date-time
          nullable: true
        source_template_price_zone_id:
          type: string
          nullable: true
    EventPricingAssignmentResponse:
      type: object
      additionalProperties: false
      required:
        - target_type
        - target_ref
        - event_price_zone_id
      properties:
        target_type:
          type: string
          enum: [seat, row, zone, table]
        target_ref:
          type: string
        event_price_zone_id:
          type: string
    EventAvailabilityOverrideResponse:
      type: object
      additionalProperties: false
      required:
        - target_type
        - target_ref
        - availability_status
      properties:
        target_type:
          type: string
          enum: [seat, row, zone, table]
        target_ref:
          type: string
        availability_status:
          type: string
          enum: [available, blocked]
    VenueListResponse:
      type: object
      additionalProperties: false
      required:
        - venues
      properties:
        venues:
          type: array
          items:
            $ref: "#/components/schemas/VenueResponse"
    CreateVenueRequest:
      type: object
      additionalProperties: false
      required:
        - workspace_id
        - name
        - city
        - address
        - timezone
        - capacity
      properties:
        workspace_id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 3
          maxLength: 80
        city:
          type: string
          minLength: 2
          maxLength: 80
        address:
          type: string
          minLength: 5
          maxLength: 200
        timezone:
          type: string
          minLength: 3
          maxLength: 64
          example: Europe/Moscow
        capacity:
          type: integer
          minimum: 1
          maximum: 10000
        description:
          type: string
          nullable: true
          maxLength: 500
        contacts:
          type: array
          maxItems: 8
          items:
            $ref: "#/components/schemas/VenueContactResponse"
    VenueResponse:
      type: object
      additionalProperties: false
      required:
        - id
        - workspace_id
        - name
        - city
        - address
        - timezone
        - capacity
        - contacts
        - hall_templates
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        name:
          type: string
        city:
          type: string
        address:
          type: string
        timezone:
          type: string
        capacity:
          type: integer
        description:
          type: string
          nullable: true
        contacts:
          type: array
          items:
            $ref: "#/components/schemas/VenueContactResponse"
        hall_templates:
          type: array
          items:
            $ref: "#/components/schemas/HallTemplateResponse"
    VenueContactResponse:
      type: object
      additionalProperties: false
      required:
        - label
        - value
      properties:
        label:
          type: string
          minLength: 2
          maxLength: 40
        value:
          type: string
          minLength: 3
          maxLength: 120
    HallTemplateMutationRequest:
      type: object
      additionalProperties: false
      required:
        - name
        - status
        - layout
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 80
        status:
          type: string
          enum: [draft, published]
        layout:
          $ref: "#/components/schemas/HallLayoutResponse"
    HallTemplateResponse:
      type: object
      additionalProperties: false
      required:
        - id
        - venue_id
        - name
        - version
        - status
        - layout
      properties:
        id:
          type: string
          format: uuid
        venue_id:
          type: string
          format: uuid
        name:
          type: string
        version:
          type: integer
          minimum: 1
        status:
          type: string
          enum: [draft, published]
        layout:
          $ref: "#/components/schemas/HallLayoutResponse"
    CloneHallTemplateRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          nullable: true
          minLength: 3
          maxLength: 80
    HallLayoutResponse:
      type: object
      additionalProperties: false
      properties:
        stage:
          $ref: "#/components/schemas/HallStageResponse"
        price_zones:
          type: array
          items:
            $ref: "#/components/schemas/HallPriceZoneResponse"
        zones:
          type: array
          items:
            $ref: "#/components/schemas/HallZoneResponse"
        rows:
          type: array
          items:
            $ref: "#/components/schemas/HallRowResponse"
        tables:
          type: array
          items:
            $ref: "#/components/schemas/HallTableResponse"
        service_areas:
          type: array
          items:
            $ref: "#/components/schemas/HallServiceAreaResponse"
        blocked_seat_refs:
          type: array
          items:
            type: string
    HallStageResponse:
      type: object
      additionalProperties: false
      required:
        - label
      properties:
        label:
          type: string
        notes:
          type: string
          nullable: true
    HallPriceZoneResponse:
      type: object
      additionalProperties: false
      required:
        - id
        - name
      properties:
        id:
          type: string
        name:
          type: string
        default_price_minor:
          type: integer
          nullable: true
          minimum: 0
    HallZoneResponse:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - capacity
        - kind
      properties:
        id:
          type: string
        name:
          type: string
        capacity:
          type: integer
          minimum: 1
        price_zone_id:
          type: string
          nullable: true
        kind:
          type: string
          example: standing
    HallRowResponse:
      type: object
      additionalProperties: false
      required:
        - id
        - label
        - seats
      properties:
        id:
          type: string
        label:
          type: string
        seats:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/HallSeatResponse"
        price_zone_id:
          type: string
          nullable: true
    HallSeatResponse:
      type: object
      additionalProperties: false
      required:
        - ref
        - label
      properties:
        ref:
          type: string
        label:
          type: string
    HallTableResponse:
      type: object
      additionalProperties: false
      required:
        - id
        - label
        - seat_count
      properties:
        id:
          type: string
        label:
          type: string
        seat_count:
          type: integer
          minimum: 1
        price_zone_id:
          type: string
          nullable: true
    HallServiceAreaResponse:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - kind
      properties:
        id:
          type: string
        name:
          type: string
        kind:
          type: string
    ErrorResponse:
      type: object
      additionalProperties: false
      required:
        - code
        - message
      properties:
        code:
          type: string
          example: auth_failed
        message:
          type: string
          example: Authentication failed
